*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header{
    background: #FFF8F3;
    background-image: url(header_bg.png), url(developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}
/* .hardy{
    background-position: bottom right;
} */
/* header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
      
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;

}
/* its mary */
.inside{
    color:#fd6e0a;

}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* hire us btn */
.hire{
    background-color: #fd6e0a;
    color:white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: 700;
    height: 64px;
    font-size: 20px;

}
/* contect button */
/* cv download btn */
.dwn{
    background-color: #fd6e0a;
    color:white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
}
.con{
    background-color: #757575;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    margin-left: 20px;
}
/* banner style(my name and some describes) */

 .banner {
    display: flex;
    align-items: center;
    margin: 20px 200px;
}
.owner-name{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;

}

 .sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner text{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}

/* main part */
/* section style */
.--main{
      max-width: 1140px;
      background-color:  #FFF8F3;
      margin: 0 auto;
      
}  
.about{
    text-align: center;
    margin-top: 130px;
    border-radius: 20px;
    padding: 130px 150px 100px;
}
.section-about{
    margin-bottom:50px ;
    font-size: 35px;
    font-weight: 800;
}
.section-text{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;

}

.info-box{
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    

}


 .about-info .info-name{ 
    font-size: 20px;
    color: #757575;
    
}

 .info-describe{

    font-weight: 700;
    font-size: 20px;
    color: #474747;

} 

/* what i do */
/* .lass{ 
    background-color: #FFFFFF;
} */

.what-i{
    text-align: center;
    margin-top: 300px; 
    background-color: #FFFFFF;
}
.what-do{
     margin-top: 300px;
     font-size: 35px;
     font-weight: 1000;
}

.what-describe{
    margin-bottom: 200px;
}

.skills-container{
    display: flex;
    /* margin-top: 200px;  */
}

.skill{
    background-color:#FFFFFF;
    box-shadow: 0 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}


.skill-describe{
    color: #757575;
   
}

/* resume style */
.my-exprience{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 150px;
}
.resume{
    background-color: #FFFFFF;
}

.resume-con{
    display: flex;
    gap: 24px;
    

}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 10px;
}

.resume .title{
     font-weight: 700;
     font-size: 25px;
     color: #474747;


}

.resume .s-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
   


}

.resume .des--{
    color: #757575;
    margin-top: 20px;


}

/* resume button */ 

.resume-dwn{
    background-position: bottom;
    text-align: center;
    margin-top: 50px;
}
/* contect side */

.ct--{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3 ;
    padding: 130px 200px;
}
    
.ct-- .cont--{
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;

}


.ct-- .para{
    margin-bottom: 20px;
}


.ct-- .cont{
    text-align: right;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 700;

}
/* form style */
.ct-- input,textarea{
    margin-bottom: 25px;
    border-radius: 5px;text-decoration: none;
    box-shadow: 0 6px 50px rgba(0,0,0,0.06);
}
#my--{
    padding: 20px 200px 20px 20px;
    
}
#biger{
    padding: 20px 150px 40px 20px;
}






