*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header{
    background: #FFF8F3;
    background-image: url(header_bg.png), url(developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}
/* .hardy{
    background-position: bottom right;
} */
/* header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
      
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}
/* its mary */
.inside{
    color:#fd6e0a;

}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* hire us btn */
.hire{
    background-color: #fd6e0a;
    color:white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: 700;
    height: 64px;
    font-size: 20px;

}
/* contect button */
/* cv download btn */
.dwn{
    background-color: #fd6e0a;
    color:white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
}
.con{
    background-color: #757575;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    margin-left: 20px;
}
/* banner style(my name and some describes) */

 .banner {
    display: flex;
    align-items: center;
    margin: 20px 200px;
}
.owner-name{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;

}

 .sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner text{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}

/* main part */
/* section style */
.--main{
      max-width: 1140px;
      background-color:  #FFF8F3;
      margin: 0 auto;
      
}  
.about{
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-about{
    margin-bottom:30px ;
    font-size: 35px;
    font-weight: 800;
}
.section-text{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;

}

.info-box{
    display: flex;
    justify-content: space-around;
    

}


 .about-info .info-name{ 
    font-size: 20px;
    color: #757575;
    
}

 .info-describe{

    font-weight: 700;
    font-size: 20px;
    color: #474747;

} 